@use './util' as u;

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
    format('truetype');
}

:root {
  --clr-font-primary: #f0f0ff;
  --clr-font-secondary: #a0a0b4;

  --clr-accent-primary: #9bffed;
  --clr-accent-secondary: #bb9bff;

  --clr-bg-primary: #17171e;
  --clr-bg-secondary: #21212c;
  --clr-bg-tertiary: #313141;
}

body {
  display: flex;
  justify-content: center;
  padding: 140px 24px;
  background: linear-gradient(
      125deg,
      var(--clr-accent-primary),
      var(--clr-accent-secondary)
    ),
    var(--clr-bg-primary);
  background-repeat: no-repeat;
  background-size: 100% 230px;
  font-family: 'Inter', sans-serif;
  color: var(--clr-font-primary);
}

.card {
  max-width: 600px;
  padding: 30px 26px 0 26px;
  background: var(--clr-bg-secondary);
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

  &__header {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__icon {
    height: 25px;
  }

  &__heading {
    font-size: u.rem(28);
    font-weight: 700;
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 168px 0;
    background-size: 100% 320px;
  }

  .card {
    padding: 50px 42px 15px 42px;
    border-radius: 20px;

    &__header {
      margin-bottom: u.rem(14);
    }

    &__icon {
      height: auto;
    }

    &__heading {
      font-size: u.rem(48);
    }
  }
}
