@use './util' as u;

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
    format('truetype');
}

:root {
  --clr-font-primary: #f0f0ff;
  --clr-font-secondary: #a0a0b4;

  --clr-accent-primary: #9bffed;
  --clr-accent-secondary: #bb9bff;

  --clr-bg-primary: #17171e;
  --clr-bg-secondary: #21212c;
  --clr-bg-tertiary: #313141;
}

body {
  font-family: 'Inter', sans-serif;
}
