@use './util' as u;

.question {
  &:not(:last-child) {
    .answer {
      border-bottom: 2px solid var(--clr-bg-tertiary);
    }
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
    background: none;
    border: 0;

    &:hover,
    &:focus-visible {
      .question__heading {
        color: var(--clr-accent-primary);
      }
    }
  }

  &__heading {
    width: 100%;
    font-size: u.rem(14);
    font-weight: 700;
    color: var(--clr-font-primary);
    text-align: start;
    transition: color 150ms linear;
  }

  &__plus-icon {
    &--hidden {
      display: none;
    }
  }

  &__minus-icon {
    display: none;

    &--visible {
      display: block;
    }
  }
}

.answer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms ease-in-out;

  &--visible {
    grid-template-rows: 1fr;
  }

  &__paragraphs {
    overflow: hidden;
  }

  &__paragraph {
    font-size: u.rem(14);
    color: var(--clr-font-secondary);

    &:not(:last-child) {
      margin-bottom: 2em;
    }

    &:last-child {
      padding-bottom: u.rem(24);
    }
  }
}

@media screen and (min-width: 768px) {
  .question {
    &__button {
      padding: 24px 0;
    }

    &__heading {
      font-size: u.rem(16);
    }
  }

  .answer {
    &__paragraph {
      font-size: u.rem(15);
      line-height: 1.6;

      &:last-child {
        padding-bottom: u.rem(26);
      }
    }
  }
}
